.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.heading {
  margin-left: 25px;
}

.login-logout-button-container {
  margin-right: 25px;
}
