.app-container {
  font-family: 'Poppins', sans-serif;
}

.center-flex-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-family: 'Courier Prime', monospace;
  margin: 20px auto 20px 20px;
}
